.cart-page {
  display: flex;
  gap: 20px;
  padding: 20px;
  background: #f3f3f3;
}

.cart-items {
  flex: 3;
}

.cart-card {
  display: flex;
  gap: 15px;
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
}

.cart-card img {
  width: 120px;
  object-fit: contain;
}

.cart-info h4 {
  font-size: 15px;
}

.qty-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.qty-controls button {
  padding: 4px 10px;
}

.remove-btn {
  background: none;
  border: none;
  color: #007185;
  cursor: pointer;
}

.cart-summary {
  flex: 1;
  background: white;
  padding: 20px;
  height: fit-content;
  border-radius: 6px;
}

.checkout-btn {
  background: #ffd814;
  border: 1px solid #fcd200;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}
